.login-container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.login-title{
    font-size: 32px;
    margin-bottom: 60px;
}

.form-label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.form-input{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    outline: none;
    margin-bottom: 10px;
}

.checkbox-group{
    margin-bottom: 10px;
}

.checkbox-wrapper{
    display: flex;
    align-items: center;
}

.checkbox-input{
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.checkbox-note{
    font-size: 12px;
    margin-right: 100px;
}

.login-button{
    width: 100%;
    padding: 12px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background-color: #766E68;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.social-login{
    text-align: center;
    margin-top: 20px;
}

.social-login-title{
    font-size: 16px;
    margin-bottom: 10px;
}

.social-login-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-button{
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social-button img{
    width: 44px;
    height: 44px;
}

.login-links{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}

.link-button{
    width: 198.5px;
    padding: 12px 0;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #E2E2E2;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}