.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 32%;
  width: 100vw;
  z-index: 1;;
}

.bannerContentWrapper{
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.bannerContent{
  position: relative;
  text-align: left;
  color: black;
  max-width: 1200px;
  width: 100%;
}

.arrowButton{
  position: relative;
  top: 50%;
  transform: translate(-50%);
  background: transparent;
  border: none;
}

.arrowButton.left{
  left: -50px;
}

.arrowButton.right{
  right: -50px;
}