.bestProducts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.header h2{
  font-size: 32px;
  flex: 1;
  text-align: center;
}

.more{
  font-size: 16px;
  color: #666;
  text-decoration: none;
  margin-left: auto;
}

.slider{
  display: flex;
  align-items: center;
  position: relative;
  width: 25%;
}

.productList{
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 100%;
}

.productCard{
  height: 350px;
  display: flex;
  flex-direction: column;
}

.imagePlaceholder{
  position: relative;
  height: 80%;
  aspect-ratio: 1/1;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.priceSection{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.price{
  font-size: 20px;
  font-weight: bold;
}

.originalPrice{
  font-size: 14px;
  text-decoration: line-through;
  color: #999;
}

.discount{
  font-size: 20px;
  margin-left: auto;
  color: #ff3c3c;
}

.arrowButton{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.arrowButton.left{
  left: -50px;
}

.arrowButton.right{
  right: -50px;
}

.productsFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 24px;
}

.productsHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.productsText {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: #333;
  font-family: inherit;
  text-align: center;
}

.moreBtn {
  background: none;
  border: none;
  color: #766e68;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  transition: background 0.2s;
  text-align: center;
}
.moreBtn:hover {
  background: #f5f5f5;
}