.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2{
  font-size: 32px;
}

.more{
  font-size: 16px;
  color: #666;
  text-decoration: none;
}

.slider{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.productList{
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 100%;
}

.productCard{
  height: 350px;
  display: flex;
  flex-direction: column;
}

.imagePlaceholder{
  position: relative;
  height: 80%;
  aspect-ratio: 1/1;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.priceSection{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.price{
  font-size: 20px;
  font-weight: bold;
}

.originalPrice{
  font-size: 14px;
  text-decoration: line-through;
  color: #999;
}

.discount{
  font-size: 20px;
  margin-left: auto;
  color: #ff3c3c;
}

.arrowButton{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.arrowButton.left{
  left: -50px;
}

.arrowButton.right{
  right: -50px;
}