@font-face {
  font-family: 'CustomFont';
  src: url('../../assets/fonts/Pretendard-Regular.ttf');
}

body{
  font-family: 'CustomFont',sans-serif;
}

.footer{
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-height: 800px){
  .footer{
    position: absolute;
    bottom: 0;
  }
}

.footerTop{
  max-width: 1200px;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.footerLinks{
  display: flex;
  gap: 20px;
}

.footerLink{
  text-decoration: none;
  color: inherit;
}

.footerBorder{ 
  position: relative;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: #eee;
}

.footerContent{
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 45px;
  margin-top: 5px;
}

.footerLogo{
  margin-bottom: 5px;
}

.footerInfo{
  text-align: left;
}

.footerInfo1{
  font-size: 18px;
  margin-bottom: 5px;
}

.footerInfo2{
  font-size: 12px;
}

.footerInquiry{
  margin: 0 30px;
  text-align: left;
}

.footerInquiry1{
  font-size: 18px;
  margin-bottom: 5px;
}

.footerInquiry2{
  font-size: 12px;
}

.kakaoButton{
  cursor: pointer;
  margin-top: 10px;
}

.footerService{
  margin: 0 30px;
  text-align: left;
}

.footerService1{
  font-size: 18px;
  margin-bottom: 5px;
}

.footerService2{
  font-size: 12px;
}

.footerBottom{
  text-align: left;
  margin-top: 5px;
}

.footerTop, .footerContent, .footerBottom{
  margin: 0 auto;
}