.adminPage {
  display: flex;      /* sidebar + main area side by side */
  height: 100vh;      /* fill the vertical screen */
  width: 100vw;
  overflow-x: hidden;
}

/* The main column to the right of the sidebar */
.adminContent {
  display: flex;
  flex-direction: column; /* header on top, content below */
  flex: 1;
  overflow-y: auto;             /* occupy remaining horizontal space */
  max-width: calc(100vw - 250px);
}

.mainContent{
  padding: 0 25px;

}

.cardSection{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.middleContent{
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: stretch;
}

.chartContainer{
  flex: 6;
  display: flex;
}

.productContainer{
  flex: 4;
  display: flex;
}



