.AdminPage {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  
  .admin-page-content {
    flex: 1;
    padding: 24px;
    background-color: #fafafa;
    overflow-y: auto;
  }
  