/* 전체 컨테이너 스타일 */
.product-list-page {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

/* 제목 스타일 */
.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 상품 개수 & 정렬 버튼 영역 */
.product-count-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.total-count {
  font-size: 16px;
  font-weight: bold;
}

/* 정렬 버튼 스타일 */
.sort-menu button {
  margin: 0 5px;
  padding: 8px 12px;
  border: 0px solid #ddd;
  background: white;
  cursor: pointer;
  font-size: 14px;
}

.sort-menu button:hover {
  background: #f0f0f0;
}

/* 상품 리스트 스타일 */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* 상품 카드 스타일 */
.product-card {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.product-card img {
  width: 50%;
  height: 327px;
  /*object-fit: cover;*/
  border: 1px solide #E2E2E2;
  border-radius: 10px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.price-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.discount {
  font-size: 14px;
  font-weight: bold;
  color: red;
  margin-right: 5px;
}

.original-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #888;
}

/* 혜택 영역 */
.benefit-area {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.badge {
  background: #f8f8f8;
  padding: 4px 6px;
  border-radius: 4px;
  margin-right: 5px;
}

.breadcrumb {
  width: 1200px; /* 중앙정렬 예시 */
  margin: 0 auto;
  padding: 16px 0;
  font-size: 14px;
}
.breadcrumb ul {
  display: flex;
  gap: 5px;
}
.breadcrumb li::after {
  content: ">";
  margin: 0 5px;
  color: #999;
}
.breadcrumb li:last-child::after {
  content: "";
  margin: 0;
}

