body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 예: 기본 margin, padding 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body 기본 폰트 */
body {
  font-family: sans-serif;
  color: #333;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
